/* src/components/Header.css */
.pro-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 12px 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 12px 12px;
  font-family:'Vazirmatn', sans-serif;
  color: #333;
  position: sticky;
  top: 0;
  z-index: 100;
}



.pro-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
}

.pro-logo-icon {
  font-size: 22px;
}

.pro-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pro-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease;
}

.pro-nav a:hover {
  color: #2563eb;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}

